{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}

    {% if session.user_id %}
        
        <table class="table">
          <thead class="thead-light">
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Description</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            {% for row in rows %}
            <tr>
              <td>{{ row["Name"] }}</td>
              <td>{{ row["Description"] }}</td>
              <td><a href="{{ url_for('edit', plan_id=row["plan_id"]) }}">Edit</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        
    {% else %}
        This is the logged-out homepage.
    {% endif %}

{% endblock %}